
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<h2>修改密码：</h2>


<div style="font-family:'Microsoft YaHei UI',Arial, Helvetica, sans-serif;font-size:14px">
    @using (Ajax.BeginForm("CheckPassword", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace },
                                new { @class = "form-horizontal" }))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input class="form-control" type="password" name="InputPassword" placeholder="请输入密码确认" required style="max-width:300px">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">确认</button>
            </div>
        </fieldset>
    }
</div>

<br />

<div id="content">

</div>
<br />
