

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


<div>
    @{ string updateId = Guid.NewGuid().ToString();}
    @using (Ajax.BeginForm("SetNewPassword", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = updateId, InsertionMode = InsertionMode.Replace },
                                                new { @class = "form-horizontal" }))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            <legend style="font-family:'Microsoft YaHei UI',Arial, Helvetica, sans-serif">请输入密码，两次必须一样</legend>
            <div class="form-group">
                <label for="inputPassword1" class="col-lg-2 control-label">密码：</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword1" name="inputPassword1" placeholder="密码6-8位" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="col-lg-2 control-label">再次输入密码：</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword2" name="inputPassword2" placeholder="与上面相同" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">提交信息</button>
                </div>
            </div>
        </fieldset>
    }
</div>
<div id="@updateId">

</div>