@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C-S 软件系统架构设计框架</h1>
    <p class="lead">本框架是一个免费开源的框架系统，集成了C-S和B-S架构设计，采用了统一的模型机制，快速便捷的开发C-B-S混合系统，也可以选择中间的一个模式。</p>
    <p><a href="https://github.com/dathlin/C-S-" class="btn btn-primary btn-lg">开源地址 &raquo;</a></p>
</div>

<div class="jumbotron">
    <h2>公告：</h2>
    <p>@ClientsLibrary.UserClient.Announcement</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Winform 客户端</div>
            <div class="panel-body">
                Winform 客户端是常规的windows窗体应用程序，虽然界面比较简单，但是功能齐全，稳定。winform的gdi+绘图也是很轻松的就可以绘制复杂的二维图形，在C-S中支持最好。
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Wpf 客户端</div>
            <div class="panel-body">
                Wpf 客户端是最新的windows窗体应用程序，直接基于directx绘制界面，充分发挥了显卡的性能，所以在界面表现上要远远大于winform程序，可以轻松实现动画。数据绑定机制可以方便
                实现主题机制。
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Web 服务器客户端</div>
            <div class="panel-body">
                最新添加的B-S系统，该系统的S端仍然作为C端连接winform版的S端，提供了大多数数据模型的一致性，与原有功能无缝集成。
            </div>
        </div>
    </div>
</div>