
@{
    ViewBag.Title = "权限不足";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-dismissible alert-danger" style="margin:15px 15px">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>错误信息</h4>
    <p>非常抱歉，您的权限不足，无法进行操作！</p>
</div>

