
@{
    ViewBag.Title = "UpdateLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统更新日志<small>历次版本详细信息</small></h2>


<div class="row">
    <div class="col-md-3">

        @{
            foreach (var v in ClientsLibrary.UserClient.HistoryVersions)
            {
                Guid guid = Guid.NewGuid();
                <div class="list-group">
                    <a id="@guid" class="list-group-item">
                        <h4 class="list-group-item-heading">Version:<span>@v.VersionNum.ToString()</span></h4>
                        <p class="list-group-item-text">更新日志 @v.ReleaseDate.ToString("yyyy-MM-dd")</p>
                    </a>

                    <script>
                        $('#@guid').on('click', function () {
                            $('#details').replaceWith(@v.UpdateDetails.Replace("\r\n","<br />"));
                        });
                    </script>

                </div>
            }
        }
    </div>
    <div class="col-md-9">
        <span id="details">

        </span>
    </div>
</div>