

<div class="alert alert-dismissible alert-danger" style="margin:15px 15px">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>成功信息</h4>
    <p>@ViewData["alertMessage"]</p>
</div>
