

<div class="alert alert-dismissible alert-success" style="margin:15px 15px">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>成功信息<small><small style="margin-left:10px;">请求ID：@ViewData["GUID"]</small></small></h4>
    <p>@ViewData["alertMessage"]</p>
</div>
